.bell__img--details {
  height: 22px;
  margin-right: 20px;
  vertical-align: middle;
}

.bookmark__details {

}

.editors__details {
  line-height: 63px;
  height: 63px;
  margin-left: 15px;
}
.in__block {
  display: inline-block;
}

.foryou__details {
  line-height: 63px;
  height: 63px;
  margin-left: 80px;
}

.holiday__details {
  line-height: 63px;
  height: 63px;
  margin-right: 15px;
}

.humor__details {
  margin-right: 15px;
}

.medium__details {
  margin-left: 10px;
  font-size: 20px;
  vertical-align: middle;

}

.logo__img--details {
  height: 28px;
  margin-left: 80px;
  vertical-align: middle;
}

.lower__nav--details {
  height: 63px;
  width: 1020px;
  vertical-align: middle;
}

.lower__nav--dim {
  height: 63px;
}

.mythbusted__details {
  line-height: 63px;
  height: 63px;
  margin-left: 15px;
  margin-right: 15px;
}

.nav__float--right {
  float: right;
  height: 40px;
  margin-top: 14px;
}

.nav__links--details {
  color: grey;
  text-decoration: none;
}

.politics__details {
  margin-left: 15px;
  margin-right: 15px;
}

.profile__pic--details {
  border-radius: 100px;
  margin-right: 80px;
  vertical-align: middle;
  height: 28px;
}

.reading__details {
  line-height: 63px;
  height: 63px;
  margin-left: 15px;
}

.search__icon--details {
  margin-right: 20px;
  vertical-align: middle;
  height: 22px;
}

.story__details {
  color: green;
  text-decoration: none;
  margin-right: 20px;
}

.top__details {
  margin-right: 15px;
}

.westworld__details {
  line-height: 63px;
  height: 63px;
}
